irc:
  server: "server.iphere.com"
  port: "6667"

  nickname: "Mumble-IRC"
  realname: "Mumble-IRC Bridge"

  channel: "#lobby"

mumble:
  server: "server.iphere.com"
  port: "64738"

  username: "Mumble-IRC Bridge"

  channel: "Lobby"
