prefix: "+"
irc:
  server: "server.iphere.com"
  port: "6667"

  nickname: "shellnut"
  realname: "shellnut Mumble-to-IRC Bridge"

  channel:
    - "#lobby"
    - "#anotherchannel"

mumble:
  server: "server.iphere.com"
  port: "64738"

  username: "shellnut"

  channel: "Lobby"

  announce_joins: yes

help:
  - command: "+mumble"
    description: "Send a message to the Mumble server (from IRC)"
  - command: "+irc"
    description: "Send a message to the IRC server (from Mumble)"
  - command: "+users"
    description: "Show a list of all users connected to the Mumble server"
