irc:
  server: "server.iphere.com"
  port: "6667"

  nickname: "shellnut"
  realname: "shellnut Mumble-to-IRC Bridge"

  channel: "#lobby"

mumble:
  server: "server.iphere.com"
  port: "64738"

  username: "shellnut"

  channel: "Lobby"
